h1{
    font-family: sans-serif;
    font-size: 65 px;
    color: orange;
}

body{
    background-color: rgb(255, 400, 200);
    font-size: 16px;
}

#changes{
    background-color: rgb(0, 255, 242);
    font-weight: 600;
    
}

p{
    font-size: 3em;
}

.list_style{
    background-color: bisque;
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    text-decoration: underline;
}